<div class="order-container">
  <div class="row">
    <div class="col-12">
      <h3>Your Orders</h3>
    </div>
  </div>
  <div class="row" id="headers">
    <div class="col-3 header">
      <strong>Product Image</strong>
    </div>
    <div class="col-3 header">
     <strong> Product Name</strong>
    </div>
    <div class="col-2 header">
     <strong>OrderedDate</strong>
    </div>
    <div class="col-2 text-end header">
     <strong> Quantity Ordered</strong>
    </div>
    <div class="col-2 text-end header">
      <strong>Price</strong>
    </div>
  </div>
  <div class="row order-row" *ngFor="let order of Orders">
    <div class="col-3">
      <img class="order-image img-fluid magnify-element" style="height: 100px; width:100px" [src]="order.productImageUrl">
    </div>
    <div class="col-3">
      {{ order.productName }}
    </div>
    <div class="col-2">
      {{ order.OrderDate }}
    </div>
    <div class="col-2 text-end">
      {{ order.quantity }}
    </div>
    <div class="col-2 text-end">
      {{ (order.productPrice * order.quantity) }}
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button class="continue-shopping-btn btn btn-lg btn-success" routerLink="/products">Continue Shopping</button>
    </div>
  </div>
</div>
